[Unit]
Description=ARmeasure

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/home/pi/ok.sh
Restart=always
RestartSec=2s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
